<style>

    .bar-status {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 3fr 3fr 1fr;
        grid-template-rows: 64px;
        grid-gap: 8px;
        background-color: #FAFAFA;
        border-bottom: solid 1px #DDD;
        overflow: hidden;
        padding: 6px;
        box-sizing: border-box;
    }

    .bar-status > *  {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: solid 1px #DDD;
        text-align: center;  
    }

    .bar-status > * > * {
        display: block;
        width: 100%;
        padding: 8px;
    }

    .bar-status > * > * > * {
        display: block;
        width: 100%;
    }

    .bar-status .clock {
        font-size: 1.3rem;
    }


    .bar-status > * > * > span {
        font-size: 0.8rem;
        text-align: left;
    }

    .bar-status > * > * > em {
        font-size: 1.2rem;
        text-align: center;
    }

    .bar-status .previous {
        background-color: rgba(255,0,0,0.2);
    }

    .bar-status .current {
        background-color: rgba(0,255,0,0.2);
    }

    .bar-status .next {
        background-color: rgba(0,0,255, 0.2);
    }

    .cartridge {
        display: grid;
        grid-template-columns: 1fr 2.3fr;
    }

    .cartridge > .played-list {
        height: calc(100vh - 80px);
        border: solid 1px #DDD;
        width: 100%;
        background-color: #FFF;
        padding: 16px;
        min-width: 360px;
    }

    .cartridge > .played-list > .listed {
        border: solid 1px #CCC;
        height: calc(100% - 80px);
        padding: 8px;
        overflow-y: auto;
    }

    .cartridge > .played-list > .listed .item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        width: 100%;
        border-bottom: solid 1px #CCC;
        background-color: #FFF;
        padding: 0 4px;
    }

    .cartridge > .played-list > .listed .item:not(.title):nth-child(odd) {
        background-color: #EEE;
    }
    
    .cartridge > .played-list > .listed .item.title {
        font-size: 1.2rem;
        border-bottom-width: 2px;
        margin-bottom: 8px;
    }

    .cartridge > .played-list > .listed .item > strong {
        padding-right: 8px;
    }

    .cartridge > .played-list > .listed .item > span {
        padding: 0 8px;
        font-size: 0.9rem;
        text-align: right;
        
    }

    .cartridge .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 4px;
    }

    .cartridge .cards > * {
        border: solid 1px #DDD;
        padding: 4px;
        overflow: hidden;
        min-width: 140px;
        background-color: rgba(255,255,0,0.1);
        cursor: pointer;
        box-sizing: border-box;
        border: solid 4px transparent;
        box-shadow: 0px 0px 1px 1px #CCC;
    }

    .cartridge .cards > *:hover {
        background-color: rgba(255,255,0,0.5);
    }

    .cartridge .cards > *.active {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    .cartridge .cards > * > span {
        font-size: 0.7rem;
        position: absolute;
        margin-top: -4px;
    }

    .cartridge .cards > * > strong {
        font-size: 0.9rem;
        display: block;
        width: 100%;
        margin-top: 8px;
        margin-bottom: -4px;
        position: relative;
    }

    .cartridge .cards > * > em {
        font-size: 0.8rem;
        text-align: right;
        display: block;
        width: 100%;
        margin-left: -8px;
    }

    @keyframes blink-animation {
        to {
            border: solid 4px #F00
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            border: solid 4px #F00
        }
    }

</style>

<section class="bar-status">
    
    <a class="logo" routerLink="/">
        <img src="../../assets/images/logo.png">
    </a>
   
    <div class="previous">
        <div>
            <span>Off Air</span>
            <em>{{status.previous.name}} - {{status.previous.duration}}</em>
        </div>
    </div>

    <div class="current">
        <div>
            <span>On Air</span>
            <em>{{status.current.name}} - {{status.current.duration}}</em>
        </div>
    </div>

    <div class="clock">
        <strong>{{status.clock}}</strong>
    </div>
    

</section>

<section class="cartridge">
    
    <aside class="played-list">
        <h2>Played List</h2>
        <div class="listed">

            <div class="item title">
                <strong>Música</strong>
                <span>Duração</span>
                <span>Hora</span>
            </div>

            <div class="item" *ngFor="let item  of playlist.reverse(); let i = index" >
                <strong>{{item.name}}</strong>
                <span>{{item.duration}}</span>
                <span>{{item.clock}}</span>
            </div>

        </div>
    </aside>
    
    <div class="cards">
        
        <section 
            *ngFor="let card of cards; let i = index;" 
            (click)="togglePlay(card)" 
            class="{{(card.active) ? 'active' : ''}}"
        >
            <span>{{card.number }}</span>
            <strong>{{card.name}}</strong>
            <em>{{card.duration}}</em>
            <audio>
                <source src="{{card.src}}">
            </audio>
        </section>

    </div>

</section>