.collection {
    display: block;
    width: 100%;
    padding: 0px 0 16px 0;
    margin: 0;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    box-sizing: border-box;
    min-width: 278px;
    max-height: 48px;
    font-size: 10px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 26px 1fr 40px 40px;
    grid-gap: 6px;
}

.collection > * {
    font-size: inherit;
}

.collection .btn {
    padding: 0;
    margin: 3px 0;
    height: 22px;
}

.collection .btn.web {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 2px 0;
    border: solid 1px rgba(255,255,255,0.3);
}

.collection .web.success {
    animation-name: web-active;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.collection select {
    border: solid 1px rgba(255,255,255,0.3);
    padding: 0;
    margin: 0;
}

.collection option {
    font-size: 13px;
}

.collection-add {
    max-width: 400px;
    min-width: 260px;
    width: 80%;
    margin: 30px auto auto auto;
    padding: 0;
    clear: both;
    padding: 16px;
}

.collection-add > *:not(:last-child) {
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 12px;
}

.collection-add input {
    background-color: rgba(0,0,0,0.3);
}

.collection-add .btn {
    margin-right: 16px;
    font-size: 12px;
    padding: 4px 16px;
    margin-top: 4px;
}

@keyframes web-active {
    50% { background-color: #060;}
}