<section class="collection">

    <button 
        class="btn web {{ (collection.web) ? 'success' :  'danger' }}" 
        (click)="webToggle()"
    >web</button>

    <select [ngModel]="collection.name" (ngModelChange)="changeColl($event)">
        <option *ngFor="let coll of collections">{{coll.name}}</option>
    </select>

    <button class="btn success" (click)="modalToggle()">new</button>

    <button class="btn danger" (click)="removeItem(collection)">delete</button>
</section>

<div class="modal" *ngIf="modal">
    <div class="collection-add color-terciary">

        <h5>New Collection</h5>
        <div>
            <input [(ngModel)]="collectionName" />
        </div>

        <div>
            <button class="btn success" (click)="newCollection(collectionName)">add</button> 
            <button class="btn danger" (click)="modalToggle()">close</button>
        </div>

    </div>
</div>

