.window {
    width: 90vw;
    height: 80vh;
    min-width: 268px;
    min-height: 350px;
    margin: 20px auto auto auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    font-size: 12px;
}

.window > *:not(:last-child) {
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.window .window-bar {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 16px;
    font-size: 0.9em;
}

.window-show {
    display: block;
    box-sizing: border-box;
    padding: 8px;
    overflow-y: auto;
}

.window-show > * {
    display: flex;
    align-items: center;
    margin: 0 0 1px 0;
    padding: 0 8px;
    text-align: left;
    background-color: rgba(255,255,255,0.01);
    font-size: inherit;
    cursor: pointer;
    min-height: 39px;
}

.window-show > *:hover {
    background-color: rgba(255,255,255,0.1);
}

.window .danger {
    border: none;
    padding: 4px 8px;
    float: right;
    right: 0;
    margin: auto 0 auto auto;
}