/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url("/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/Roboto-Light.ttf");
}