<section class="context color-secondary">
    <div>
        {{Card.name | slice: 0:50}}
        <button class="btn danger" (click)="toggleContext()">Close</button>
    </div>
    <ul class="menu-list">
        <li (click)="rename(Card)">Renomear</li>
        <li *ngIf="renameToggle"> 
            <input [(ngModel)]="Card.name" /> 
        </li>
        <li *ngIf="renameToggle" class="no-hover">
            <button class="btn success" (click)="saveName(Card)">Save</button>
        </li>
        <li (click)="remove(Card)">Remover</li>
    </ul>
    <div></div>
</section>