.cartridge .cards {
    height: calc(100vh - 160px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 8px;
    overflow: hidden;
    grid-area: cards;
}

.cartridge .cards > *:not(div) {
    border: solid 1px #DDD;
    padding: 8px;
    overflow: hidden;
    min-width: 140px;
    background-color: rgba(255,255,0,0.1);
    cursor: pointer;
    box-sizing: border-box;
    border: solid 4px transparent;
    box-shadow: 0px 0px 1px 1px #CCC;
}

.cartridge .cards > *:hover {
    background-color: rgba(255,255,0,0.5);
}

.cartridge .cards > *.active {
    animation: active-animation 1s steps(5, start) infinite;
    -webkit-animation: active-animation 1s steps(5, start) infinite;
}

.cartridge .cards > *.cue {
    animation: cue-animation 1s steps(5, start) infinite;
    -webkit-animation: cue-animation 1s steps(5, start) infinite;
}

.cartridge .cards > * {
    border: solid 1px #F00;
    width: 100%;
}

.cartridge .cards > * > span {
    font-size: 0.7rem;
    position: absolute;
    margin-top: -4px;
}

.cartridge .cards > * > strong {
    font-size: 0.9rem;
    display: block;
    width: 100%;
    margin: 12px 0 0 0;
}

.cartridge .cards > * > em {
    font-size: 0.8rem;
    text-align: right;
    display: block;
    width: calc(100% - 32px);
    padding: 0 8px;
    margin: 0 16px;
    border-bottom: solid 1px #CCC;
}

.cartridge .cards > *.active em {
    text-align: center;
    font-size: 1rem;
}

.cartridge .cards > * label {
    width: 10%;
    display: inline-block;
    height: 10px;
    position: relative;
    top: -6px;
}

.cartridge .cards > * label img {
    object-fit: cover;
    height: 10px;
}

.cartridge .cards > * progress {
    height: 5px;
    margin: 0 0 0 8px;
    top: -12px;
    position: relative;
    width: calc(90% - 16px);
}