/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2:400,500,700&display=swap');

html, 
body html,
body {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #EEE;
}

* {
    font-family: 'Baloo Da 2', cursive;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}