.bar-status {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 3.5fr 1fr;
    grid-template-rows: 64px;
    grid-gap: 8px;
    background-color: #FAFAFA;
    border-bottom: solid 1px #DDD;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px #AAA;
}

.bar-status > *  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #DDD;
    text-align: center;
}

.bar-status .logo > *,
.bar-status .previous > *,
.bar-status .current > *,
.bar-status .clock > * {
    display: block;
    width: 100%;
    padding: 8px;
    max-height: 64px;
}

.bar-status .logo img {
    max-height: 64px;
    object-fit: cover;
}

.bar-status .clock {
    font-size: 1.5rem;
}

.bar-status .previous {
    background-color: rgba(255,0,0,0.2);
}

.bar-status .current {
    background-color: rgba(0,255,0,0.2);
}

.bar-status .previous span,
.bar-status .current span {
    float: left;
    font-size: 0.8em;
    padding: 0;
    line-height: 100%;
    max-height: 15px;
    max-width: 40px;
    margin-bottom: -15px;
    margin-right: -20px;
}