.cartridge .controls {
    grid-area: controls;
    background-color: #FFF;
    display: block;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartridge .controls > label {
    font-weight: 700;
    width: 15%;
}

.cartridge .controls >:not(label) {
    width: 80%;
    margin-right: 2%
}

.cartridge .controls button {
    width: 64px;
    height: 56px;
}

.cartridge .controls button.active {
    background-color: #0A0;
    color: #FFF
}
