.card,
.card * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    clear: both;
    position: relative;
    width: auto;
    height: auto;
    text-align: top;
    text-overflow: ellipsis;
}

.card {
    min-width: 80px;
    min-height: 80px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10px;
    overflow: hidden;
    padding: 0.5em;
    font-size: 11px;
    box-shadow:0 0 10px 5px rgba(0,0,0,0.1) inset;
    border: solid 1px rgba(255,255,255,0.1);
    filter: brightness(1);
    transition: all 0.1s ease-in-out;
    will-change: transsition;
}

.card:hover {
    opacity: 1;
    filter: brightness(1);
    animation-name: card-add;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.card.card-add {
    opacity: 0.6;
    filter: brightness(0.8);
}

.card.card-add:hover {
    opacity: 1;
}

.card.active {
    color: rgba(0,0,0,1);
    cursor: pointer;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0,255,255, 0.6);
    background-image: radial-gradient(rgba(255,255,255,0.7) 8%, rgba(255,255,255,0.6) 50%,rgba(0,255,255,0.7) 100%);
    box-shadow:
        0 0 10px 5px rgba(0,0,0,0.3) inset, 
        0 0 1px 1px rgba(255,255,255,0.2), 
        0 0 2px 2px rgba(255,0,255,0.3),
        0 0 3px 3px rgba(0,255,255, 0.3); 
    animation-name: card-active;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

.card.cue {
    color: rgba(0,0,0,1);
    cursor: pointer;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(255,130,0, 0.5);
    background-image: radial-gradient(rgba(255,255,255,0.6) 8%, rgba(255,255,255,0.5) 50%,rgba(255,130,0,0.6) 100%);
    box-shadow:
        0 0 5px 5px rgba(0, 0, 0, 0.3) inset, 
        0 0 1px 1px rgba(255,255,255,0.2) inset, 
        0 0 2px 2px rgba(255,0,255,0.3) inset,
        0 0 3px 3px rgba(0,255,0, 0.3) inset; 
    animation-name: card-cue;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.card .card-info,
.card .card-time {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-overflow: ellipsis;
    word-break: break-all;
}

.card-add .card-info{
    font-size: 4em;
}

.card .card-info {
    text-align: center;
}

.card .card-time {
    text-align: center;
    letter-spacing: 1px;
    font-size: 9px;
}

@keyframes card-active {
    50% { background-color: rgba(255,100,150,1)}
}

@keyframes card-cue {
    50% { background-color: rgba(255,255,0,1);}
}

@keyframes card-add {
    50% { filter: brightness(1.4);}
}
