.context {
    min-width: 80px;
    min-height: 100px;
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    border: solid 1px rgba(255,255,255,0.13);
    margin: 30px auto auto auto;
    box-sizing: border-box;
    padding: 4px 8px;
    display: grid;
    grid-template-rows: 40px 1fr 30px;
}

.context > *:not(:last-child) {
    font-size: 11px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    box-sizing: border-box;
}

.context button {
    right: 0;
    margin: auto 0 auto auto;
    float: right;
    display: block;
    clear: both;
}

.context .menu-list {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4px 0;
}

.context .menu-list > * {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 0.95em;
    clear: both;
}

.context .menu-list > *:not(.no-hover):hover {
    background-color: rgba(255,255,255,0.15);
}

