
<section id="home" class="">
    <div class="row row-flex">
        <app-menu [menu]="menu" (menuEvent)="menuEvent($event)" class="col s1 m1 l4 xl3"></app-menu>
        <app-workspace 
            [menu]="menu" 
            [user]="user"
            (menuEvent)="menuEvent($event)"
            (navEvent)="menuEvent($event)"
            (userEvent)="menuEvent($event)"
            (searchEvent)="searchEvent($event)"
            class="col s11 m11 l8 xl9"
        ></app-workspace>
    </div>
    <div class="row row-flex">
        <app-playbar [user]="user" [sound]="sound" (barEvent)="barEvent($event)" class="col s12 m12 l12 xl12"></app-playbar>
    </div>
</section>